html, body {
    font-size:16px;
    margin:0;
    padding:0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

/** jQuery Mobile overrides */
.ui-content {
    padding: 0 5px;
}

div[role=main] .ui-btn {
    float: left;
    width: 48%
}
div[data-role=dialog] a[data-iconpos=notext] {
    display: none;
}
/*
div[role=dialog] .ui-btn {
    float: left;
    width: 49.5%
}

div[role=dialog] .ui-btn-left , div[role=dialog] ol[data-role=listview] .ui-btn{
    width: 100%;
}
/** end */


#header {
	float: left;
	width: 100%;
	background: #f5f5f5;
}
button {
    background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    height: 30px;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
	cursor: pointer;
	margin-top: 5px;
}
button:hover {
	border: 1px solid #969696;
}

#container {
	float: left;
	height: 100%;
	width: 100%;
	background: url(images/wood.png) top left repeat;
	background-size: 100%;
}
.note {
	position: absolute;	
	width: 150px;
	height: 150px;
	border-radius: 5px;
    box-shadow: -9px -9px 15px #333;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}

.note.blue {
   background: url(images/blue.png) center no-repeat;
    background-size: 100%;
}
.note.pink {
    background: url(images/pink.png) center no-repeat;
    background-size: 100%;
}
.note.yellow {
    background: url(images/yellow.png) center no-repeat;
    background-size: 100%;
}

.note.minimized {
    height: 20px;
}

.note .header {
	float: left;
	width: 140px;
	height: 20px;
	padding: 0 5px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

.note .header .minmax, .note .header .close{
	float: right;
	width: 20px;
	height: 20px;
	color: black;
	border: 0;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	font-family: Impact, Charcoal, sans-serif;
}

.note .header .pin {
    background: url(images/pin-64x64.png) center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 70px;
    top: -18px;
}
.note .header .mintitle {
    font-style: italic;
}

.note .title{
	float: left;
	width: 130px;
	padding: 0 5px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.note .text {
	width: 90%;
	height: 93%;
	padding: 5%;
	border-radius: 0 0 5px 5px;
}

.ui-input-text.error {
    border: 1px solid red;
    color: red;
}